<nav class="navbar navbar-default navbar-static-top gub-footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <p class="navbar-text">© Gothenburg University Library</p>
      </li>
      <li><a href="#">Library website</a></li>
      <li><a href="#">About GUP</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-text"><a href="#" class="navbar-link">Right bottom link 1</a></p>
      </li>
      <li>
        <p class="navbar-text"><a href="#" class="navbar-link">Right bottom link 2</a></p>
      </li>
    </ul>
  </div>
</nav>
