<nav class="navbar navbar-default navbar-static-top gub-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <img alt="Gothenburg University Library" src="images/gub-textlogo-en.svg">
      </div>
      <div class="navbar-appname">
        <span class="divider" />
        <a href="#">GUP</a>
      </div>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-text"><a href="#" class="navbar-link">På svenska</a> <i class="fa fa-globe"></i></p>
      </li>
      <li>
        <p class="navbar-text"><a href="#" class="navbar-link">Inställningar</a> <i class="fa fa-cog"></i></p>
      </li>
      <li>
        <p class="navbar-text"><a href="#" class="navbar-link">Logga ut</a> <i class="fa fa-user"></i></p>
      </li>
    </ul>
  </div>
</nav>
