{{partial 'partials/gub-header'}}
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1>Rubrik</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum fringilla efficitur. Vivamus luctus ex quis est tincidunt, non mollis eros porta. Quisque cursus tempus diam, vitae efficitur sem sagittis sed. Nullam semper lacus sit amet nisi iaculis, eu tincidunt massa vehicula. Cras pellentesque lorem eget mauris volutpat tristique. Maecenas in tempor mauris, eget iaculis ex. Nunc hendrerit ullamcorper vehicula.
      </p>
      <p>
        Nulla hendrerit dui sed odio pharetra sollicitudin. Duis accumsan non urna eget malesuada. Quisque eleifend vulputate volutpat. Nam auctor ligula enim, vel gravida mi molestie sed. Vestibulum lobortis dui id aliquet sodales. Suspendisse venenatis lectus nec faucibus lacinia. Nam bibendum nulla non arcu aliquet, quis lobortis ex cursus. Vivamus aliquet mi sed congue porttitor. Vivamus auctor ligula sem, ut varius est porttitor et. Donec vitae mollis arcu. Maecenas nec sem sed urna tincidunt venenatis. Nam at posuere odio. Proin quam dolor, fringilla non dictum non, pulvinar eget dui.
      </p>
      <p>
        Etiam sit amet sem lectus. Aenean finibus interdum luctus. Proin feugiat ipsum in maximus rutrum. Nullam at elit sit amet nisi convallis convallis at sed mauris. Aliquam sed mauris nunc. Nulla et imperdiet tellus. Maecenas condimentum dignissim metus, eu rhoncus orci volutpat vel. Nunc id condimentum est. Fusce porta augue tortor, ut sagittis dui euismod sed. Mauris vestibulum arcu quis erat blandit consequat vitae vel magna. Vivamus hendrerit lobortis maximus. Aenean faucibus enim efficitur, condimentum ipsum sed, convallis enim. Donec sollicitudin enim eget nunc congue, quis commodo eros varius. Donec tincidunt eu sem vel tincidunt. Suspendisse at mauris purus.
      </p>
      <p>
        Aenean tempus elit lectus, eget aliquet erat fringilla eu. Pellentesque auctor tempus ligula vitae mollis. Sed ultricies maximus volutpat. Aenean placerat odio ac tellus sodales, id rhoncus massa auctor. Morbi nec blandit lacus, maximus efficitur lectus. Mauris quis tortor consequat, aliquam lorem ac, consequat lorem. Aliquam in nibh et lorem finibus semper eget ut mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum et quam et sem imperdiet iaculis auctor gravida orci. Nunc lobortis tristique rhoncus.
      </p>
      <p>
        Vivamus posuere hendrerit aliquam. Morbi commodo, nisi eu rhoncus imperdiet, neque nisl vehicula massa, a egestas quam mi sit amet felis. Praesent vel ex tortor. Suspendisse aliquet vel nulla at molestie. Donec nec nibh vitae neque tempor gravida. Suspendisse potenti. Integer vitae ante sit amet felis pharetra placerat. Nunc ut commodo tellus. Pellentesque est nisi, mattis at ultricies vel, dignissim sed quam. Integer nec efficitur nulla. Nulla ultrices ipsum sed diam tristique maximus. Donec eget sollicitudin orci. Proin ut vehicula est, vel consectetur ex. Fusce in auctor justo.</p>


      </div>
    </div>
    {{outlet}}
  </div>
