<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8">
      <h2>Buttons</h2>
      <button class="btn btn-default">Button</button>
      <button class="btn btn-black">Button</button>
      <button class="btn btn-primary">Button</button>
      <button class="btn btn-success">Button</button>
      <button class="btn btn-warning">Button</button>
      <button class="btn btn-danger">Button</button>
      <button class="btn btn-info">Button</button>
    </div>
  </div>
</div>
