<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-md-8 col-md-offset-2">
      <h1>Regler för lån när man ska låna böcker från bibblan</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis elementum purus, eget varius dolor. Donec sit amet efficitur tellus. In in vulputate sapien.</p>
      <h2>Heading 2 eleifend laoreet mi sed faucibus tincidunt ultricies eleifend quis elementum purus</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis elementum purus, eget varius dolor. Donec sit amet efficitur tellus. In in vulputate sapien. Suspendisse eleifend laoreet mi sed faucibus. Cras posuere quis lectus in iaculis. Morbi sed feugiat nunc, eu efficitur ante. Sed dignissim gravida erat, nec hendrerit lectus efficitur sit amet.</p>
      <p>Vivamus vestibulum condimentum magna, vel hendrerit turpis volutpat sed. Morbi tincidunt ultricies eleifend. Aliquam tellus neque, accumsan ut purus sit amet, porta ultrices eros. Vestibulum vulputate elit id elit luctus, a sagittis sapien volutpat. Phasellus semper, justo imperdiet faucibus sollicitudin, dui odio ultricies massa, quis varius tellus mauris eu dui. Nulla facilisi. Ut et diam imperdiet, porttitor quam at, gravida ipsum. In diam turpis, faucibus vitae feugiat vitae, lacinia nec odio. Praesent hendrerit dapibus neque sit amet volutpat. Nullam ipsum tellus, viverra vel tellus ac, dictum commodo ex. <a href="#">Quisque sollicitudin eu enim non porta.</a></p>
      <h3>Heading 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis elementum purus, eget varius dolor. Donec sit amet efficitur tellus. In in vulputate sapien. Suspendisse eleifend laoreet mi sed faucibus. Cras posuere quis lectus in iaculis. Morbi sed feugiat nunc, eu efficitur ante. Sed dignissim gravida erat, nec hendrerit lectus efficitur sit amet.
        <ul>
          <li>pellentesque interdum dui nec leo lacinia semper ac id massa</li>
          <li>vel lorem porta, pulvinar neque quis, iaculis felis.</li>
          <li>habitant morbi tristique senectus et netus</li>
          <li>pulvinar scelerisque diam vel imperdiet</li>
        </ul>
      </p>
      <p>Vivamus vestibulum condimentum magna, vel hendrerit turpis volutpat sed. Morbi tincidunt ultricies eleifend. Aliquam tellus neque, accumsan ut purus sit amet, porta ultrices eros. Vestibulum vulputate elit id elit luctus, a sagittis sapien volutpat. Phasellus semper, justo imperdiet faucibus sollicitudin, dui odio ultricies massa, quis varius tellus mauris eu dui. Nulla facilisi. Ut et diam imperdiet, porttitor quam at, gravida ipsum. In diam turpis, faucibus vitae feugiat vitae, lacinia nec odio. Praesent hendrerit dapibus neque sit amet volutpat. Nullam ipsum tellus, viverra vel tellus ac, dictum commodo ex. Quisque sollicitudin eu enim non porta.</p>
      <h4>Heading 4</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis elementum purus, eget varius dolor. Donec sit amet efficitur tellus. In in vulputate sapien. Suspendisse eleifend laoreet mi sed faucibus. Cras posuere quis lectus in iaculis. Morbi sed feugiat nunc, eu efficitur ante. Sed dignissim gravida erat, nec hendrerit lectus efficitur sit amet.</p>
      <h3>Tabell över olika data</h3>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Normal</th>
            <th>Standard</th>
            <th>Extra</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Pris</strong></td>
            <td>300</td>
            <td>200</td>
            <td>400</td>
          </tr>
          <tr>
            <td><strong>Kostnad</strong></td>
            <td>4000</td>
            <td>5000</td>
            <td>50 000</td>
          </tr>
        </tbody>
      </table>
      <p>Vivamus vestibulum condimentum magna, vel hendrerit turpis volutpat sed. Morbi tincidunt ultricies eleifend. Aliquam tellus neque, accumsan ut purus sit amet, porta ultrices eros. Vestibulum vulputate elit id elit luctus, a sagittis sapien volutpat. Phasellus semper, justo imperdiet faucibus sollicitudin, dui odio ultricies massa, quis varius tellus mauris eu dui. Nulla facilisi. Ut et diam imperdiet, porttitor quam at, gravida ipsum. In diam turpis, faucibus vitae feugiat vitae, lacinia nec odio. Praesent hendrerit dapibus neque sit amet volutpat. Nullam ipsum tellus, viverra vel tellus ac, dictum commodo ex. Quisque sollicitudin eu enim non porta.</p>
      <div class="cta">
        <h2>Call to action</h2>
        <p>Vivamus vestibulum condimentum magna, vel hendrerit turpis volutpat sed. Morbi tincidunt ultricies eleifend.</p>
        <button class="btn btn-primary">Do the thing!</button>
      </div>
      <p>Morbi tincidunt ultricies eleifend:
        <ol start="19">
          <li>pellentesque interdum dui nec leo lacinia semper ac id massa</li>
          <li>vel lorem porta, pulvinar neque quis, iaculis felis.</li>
          <li>habitant morbi tristique senectus et netus</li>
          <li>pulvinar scelerisque diam vel imperdiet</li>
        </ol>
      </p>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>        
        <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br/>
      <p>Vivamus vestibulum condimentum magna, vel hendrerit turpis volutpat sed. Morbi tincidunt ultricies eleifend. Aliquam tellus neque, accumsan ut purus sit amet, porta ultrices eros. Vestibulum vulputate elit id elit luctus, a sagittis sapien volutpat. Phasellus semper, justo imperdiet faucibus sollicitudin, dui odio ultricies massa, quis varius tellus mauris eu dui. Nulla facilisi. Ut et diam imperdiet, porttitor quam at, gravida ipsum. In diam turpis, faucibus vitae feugiat vitae, lacinia nec odio. Praesent hendrerit dapibus neque sit amet volutpat. Nullam ipsum tellus, viverra vel tellus ac, dictum commodo ex. Quisque sollicitudin eu enim non porta.</p>
      <h4>Heading 4</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis elementum purus, eget varius dolor. Donec sit amet efficitur tellus. In in vulputate sapien. Suspendisse eleifend laoreet mi sed faucibus. Cras posuere quis lectus in iaculis. Morbi sed feugiat nunc, eu efficitur ante. Sed dignissim gravida erat, nec hendrerit lectus efficitur sit amet.</p>
    </div>
  </div>
</div>
